body {
  background-color: #f9f9f9;
  font-family: "TT Commons", sans-serif;
}

#parent {
  height: 62.5rem;
  background: url("../assets/model1.jpg") no-repeat;
  background-size: contain;
  background-position-y: -9.75rem;
  background-position-x: 6.375rem;
}

#parent header {
  padding: 3.75rem 0;
}

#parent header .logo h1 {
  text-transform: lowercase;
  font-size: 1.25rem;
  font-weight: 600;
}

#parent header nav {
  float: right;
}

#parent header nav ul li {
  float: left;
  list-style: none;
}

#parent header nav ul li a {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 0.9375rem;
  font-weight: 600;
  padding-left: 2.5rem;
}

#parent header nav ul li a i {
  font-weight: 600;
}

#parent section {
  position: relative;
  top: 6.5em;
}

#parent section .title {
  text-transform: capitalize;
}

#parent section .title h4 {
  font-size: 0.65rem;
}

#parent section .title h1 {
  font-size: 5.75rem;
  font-weight: 700;
  line-height: 6.25rem;
  margin-bottom: 1.5rem;
}

#parent section content {
  font-size: 5.75rem;
  font-weight: 700;
  line-height: 6.25rem;
  margin-bottom: 1.5rem;
}
