body {
  background-color: #f9f9f9;
  font-family: "TT Commons", sans-serif;
}

#parent {
  height: 62.5rem;
  background: url("../assets/model1.jpg") no-repeat;
  background-size: contain;
  background-position-y: -9.75rem;
  background-position-x: 6.375rem;
}

#parent header {
  padding: 3.75rem 0;
}

#parent header .logo h1 {
  text-transform: lowercase;
  font-size: 1.25rem;
  font-weight: 600;
}

#parent header nav {
  float: right;
}

#parent header nav ul li {
  float: left;
  list-style: none;
}

#parent header nav ul li a {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 0.9375rem;
  font-weight: 600;
  padding-left: 2.5rem;
}

#parent header nav ul li a i {
  font-weight: 600;
}

#parent section {
  position: relative;
  top: 5.5em;
}

#parent section .title {
  text-transform: capitalize;
}

#parent section .title h4 {
  font-size: 0.75rem;
}

#parent section .title h1 {
  font-size: 6.75rem;
  font-weight: 700;
  line-height: 7rem;
  margin-bottom: 1.5rem;
}

#parent section .content {
  overflow: hidden;
}

#parent section .content h5 {
  color: #aaa;
  font-size: 0.7125rem;
  margin-bottom: 0.25rem;
}

#parent section .content p {
  font-size: 0.875rem;
  font-weight: 500;
}

#parent section .btn {
  display: flex;
  margin-top: 2.5rem;
}

#parent section .btn a {
  padding: 0.5rem;
  width: 0.9375rem;
  height: 0.9375rem;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #000;
  transition: all 250ms ease-in-out;
}

#parent section .btn a:first-child {
  margin-right: 0.625rem;
  color: #f44336;
  border: 0.1rem solid #f44336;
}

#parent section .btn a:last-child {
  margin-right: 0.625rem;
  color: #4caf50;
  border: 0.1rem solid #4caf50;
}

#parent section .btn a:first-child:hover {
  background-color: #f44336;
  color: #f9f9f9;
}

#parent section .btn a:last-child:hover {
  background-color: #4caf50;
  color: #f9f9f9;
}

#parent section aside {
  transform-origin: right;
  transform: rotate(90deg);
  position: relative;
  top: 33.5rem;
}

#parent section aside ul li {
  display: inline-block;
  margin-right: 4.375rem;
}

#parent section aside ul li a {
  text-decoration: none;
  color: #000;
  font-size: 0.875rem;
}
